.d-flex {
    display: flex;

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-end {
        justify-content: flex-end;
    }

    .justify-content-start {
        justify-content: flex-start;
    }
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

// margin
@for $i from 0 through 30 {
    .m-l-#{$i} {
        margin-left: #{$i}px !important;
    }

    .m-t-#{$i} {
        margin-top: #{$i}px !important;
    }

    .m-r-#{$i} {
        margin-right: #{$i}px !important;
    }

    .m-b-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .m-a-#{$i} {
        margin: #{$i}px !important;
    }
}

// padding
@for $i from 0 through 30 {
  .p-l-#{$i} {
      padding-left: #{$i}px !important;
  }

  .p-t-#{$i} {
      padding-top: #{$i}px !important;
  }

  .p-r-#{$i} {
      padding-right: #{$i}px !important;
  }

  .p-b-#{$i} {
      padding-bottom: #{$i}px !important;
  }

  .p-a-#{$i} {
      padding: #{$i}px !important;
  }
}