.container-btn {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;

  a {
    border: 1px solid;
    border-radius: 5px;
    width: 45%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}
