<section class="container-full">
    <section class="d-flex">
        <app-sidebar [menuOpen]="menuOpen"></app-sidebar>
        <section class="container-body">
            <header class="container-body__header">
                <a class="container-body__header__btn" (click)="menuOpen = !menuOpen">
                    <i class="fas fa-indent" [ngClass]="{'closed': !menuOpen}"></i>
                </a>
            </header>
            <main class="container-body__main">
                <router-outlet></router-outlet>
            </main>
        </section>
    </section>
</section>